@import "tailwindcss";
@tailwind utilities;
@font-face {
  font-family: "Dana";
  src:
    local("Dana"),
    url("../public/fonts/Dana/woff2/DanaFaNum-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Dana Medium";
  src:
    local("Dana"),
    url("../public/fonts/Dana/woff2/DanaFaNum-Medium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Dana DemiBold";
  src:
    local("Dana"),
    url("../public/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Morabba Light";
  src:
    local("Dana"),
    url("../public/fonts/Morabba/woff2/Morabba-Light.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Morabba Medium";
  src:
    local("Dana"),
    url("../public/fonts/Morabba/woff2/Morabba-Medium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Morabba Bold";
  src:
    local("Dana"),
    url("../public/fonts/Morabba/woff2/Morabba-Bold.woff2") format("woff2");
  font-display: swap;
}
@custom-variant dark (&:where(.dark, .dark *));
html {
  scroll-behavior: smooth;
}
.services {
  @apply relative;
}

@media screen and (max-width: 636px) {
  .services::after,
  .services::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    margin: auto auto;
    background: #d1d5db;
  }

  html.dark .services::before,
  html.dark .services::after {
    background: rgba(255, 255, 255, 0.1);
  }
  .services::after {
    width: 1px;
    height: 100%;
  }
  .services::before {
    width: calc(100% - 16px);
    height: 1px;
  }
}
.nigga {
  opacity: 0 !important;
  visibility: hidden !important;
  transition: 150ms ease-in-out;
}
.have-hover:hover + .nigga {
  transition-delay: 75ms;
  visibility: visible !important;
  opacity: 1 !important;
}
.nigga:hover {
  visibility: visible !important;
  opacity: 1 !important;
}
.revrese {
  flex-direction: row-reverse;
}
.modal {
  transform: translateX(349px);
}
.overlay {
  display: none;
}
@layer utilities {
  .child {
    @apply delay-85 duration-200 ease-out;
  }
  .child > * {
    @apply inline-block duration-200 ease-out;
  }
  .child > *:hover {
    @apply text-orange-300;
  }
}
@layer components {
  .circleMain {
    @apply absolute right-0 bottom-0 left-0 mx-auto;
  }
  .circle {
    @apply sm:flex hidden items-center justify-center border-t border-r  rotate-3 rounded-full;
  }
  .circle--lg {
    @apply w-[203px] h-[203px]    border-white/35;
  }
  .circle--md {
    @apply w-[145px] h-[145px]   border-white/45;
  }
  .circle--sm {
    @apply w-[95px] h-[95px]   border-white/65;
  }
  .section-title {
    @apply font-Morabba-Medium text-2xl md:text-5xl text-zinc-700 dark:text-white;
  }
  .section-subtitle {
    @apply inline-block font-Morabba-Light text-lg  md:text-3xl text-zinc-700 dark:text-white mt-0.5 md:mt-2.5;
  }
  .section-link {
    @apply flex items-center md:gap-x-1 font-Dana text-base  md:text-xl text-orange-300 transition-colors hover:bg-orange-300/20 h-10 pr-3 pl-1 rounded-md tracking-tighter;
  }
  .container {
    @apply p-2.5  lg:p-4 mx-auto;
  }
}
.animation {
  animation: inifiny-animation infinite 2.5s ease-in-out forwards;
}
@keyframes inifiny-animation {
  0% {
    rotate: 0deg;
  }
  40% {
    rotate: 180deg;
  }
  80% {
    rotate: 20deg;
  }
  100% {
    rotate: 0deg;
  }
}
@media screen and (min-width: 1024px) {
  html.dark {
    .product {
      background-image: url("../public/images/background-image/body-bg.png");
    }
  }
  .product {
    background: linear-gradient(
        rgba(243, 244, 246, 0.65),
        rgba(243, 244, 246, 0.65)
      ),
      url("../public/images/background-image/body-bg.png");
    background-repeat: no-repeat;
  }
}

/*.grid-icons {*/
/*  grid-column: 1;*/
/*  grid-row: 2;*/
/*}*/
.category-banner__item1 {
  @apply flex flex-col items-start pr-12 md:h-[248px] h-[182px] justify-center bg-zinc-700 rounded-2xl;

  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0.6) 33.85%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    url("../public/images/CoffeeShop-Files/categories/category-left.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.category-banner__item2 {
  @apply flex flex-col items-start pr-12 md:h-[248px] h-[182px] justify-center bg-zinc-700 rounded-2xl;
  background-size: cover;

  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0.6) 33.85%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    url("../public/images/CoffeeShop-Files/categories/category-right.jpg");
  background-repeat: no-repeat;
}
@theme {
  --background-image-desktop: url("../public/images/background-image/headerBgDesktop.webp");
  --background-image-mobile: url("../public/images/background-image/headerBgMobile.webp");
  --breakpoint-5xl: 72rem !important;
  --breakpoint-custom: 30rem !important;
  --breakpoint-dahbist: 1024px !important;
  --breakpoint-defult: 1100px !important;
  --breakpoint-footerfor: 1250px !important;
  --breakpoint-footersix: 1600px !important;
  --breakpoint-blogs: 520px !important;
  --breakpoint-sisad: 300px !important;
  --breakpoint-charsad: 400px !important;
  --breakpoint-charsadpanjah: 450px !important;
  /* For Light And Dark Mode */
  /*Custom Colors*/
  --color-brown-100: #ece0d1;
  --color-brown-300: #dbc1ac;
  --color-brown-600: #967259;
  --color-brown-900: #634832;
  /*Custom Box Shadow*/
  --shadow-light: 0px 1px 10px 0px rgba(0, 0, 0, 0.05);
  /*Custom Border Radios*/
  --border-radius-4xl: 2rem;
  /*Custom Font Family*/
  --font-Dana: "Dana";
  --font-Dana-Medium: "Dana Medium";
  --font-Dana-DemiBold: "Dana DemiBold";
  --font-Morabba-Light: "Morabba Light";
  --font-Morabba-Medium: "Morabba Medium";
  --font-Morabba-Bold: "Morabba Bold";
  /*Letter Spacing Custom*/
  --tracking-1: -0.0065em;
  /*Background Image Custom*/

  /* ... */
}
